/* :root {
    --primary: #ccdad1;
    --secondary: #9caea9;
    --tertiary: #788585;
    --light-dark: #6f6866;
    --dark: #38302e;
    --border-radius: .3rem;
  }
  
  * {
    box-sizing: border-box;
  }

body {
    margin: 0;
}
header {
    background-color: navy;
    color: white;
    width: 100%;
    padding: 5px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.title {
    padding-top:5px;
}
.search-container {
    display: flex;
    flex-direction: column  ;
}

.btn {
    background-color: grey;
    color: black;
    font-size: 20px;
    width: 200px;
    margin: 5px;
    padding: 5px;
    border-radius: 0;
}

/* .card {
    display: flex;
    border-radius: 0;
    align-items: center;
}

.card-body {
    align-items:center;
} */
/* 
#city-buttons{
    padding-top: 5px;
} */

/* #search-form {
    display: flex;
    padding-bottom: 5px;
    align-items:center;
} */ */